<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Rooms</title>
    <link rel="stylesheet" href="../../global-styles.css">
    <link rel="stylesheet" href="meeting-rooms.css">
</head>
<body>
    <header id="header"></header>
    <main>
        <section class="meeting-rooms-container">
            <ul id="meetingRoomsList"></ul>
        </section>
    </main>
</body>
<script type="module" src="meeting-rooms.js"></script>
</html>