<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../../global-styles.css">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <main>
        <section class="logo-container">
            <img id="logo" alt="Logo">
        </section>
        <section class="form-container">
            <form id="loginForm">
                <div class="form-group">
                    <input placeholder="Enter your email id" type="email" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <input placeholder="Enter your password" type="password" id="password" name="password" required>
                </div>
                <div class="submit">
                    <p id="error" class="error">Invalid username or password</p>
                    <button id="submit-form-btn" type="submit" disabled>Login</button>
                </div>
            </form>
        </section>
        <section class="view-rooms-container">
            <button id="view-rooms">View Rooms</button>
        </section>
    </main>
</body>
<script type="module" src="login.js"></script>
</html>