@import '../../constants/mixins/mixins.scss';
@import '../../constants/colors/colors.scss';
@import '../../constants/variables/variables.scss';

body {
    main{
        @include center-content;
        flex-direction: column;
        background-color: $background-color;
        min-height: $max-viewport-height;
        .logo-container{
            #logo{
                width: 150px;
                padding-bottom: 20px;
            }
        } 
        #view-rooms {
            margin-top: 20px;
        }

        .form-container {
            @include center-content;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding: 30px;
            background-color: $form-background;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    
            .form-group{
                padding: 10px 0;
    
                input {
                    width: 40vw;
                    @include form-input;
                  }
               
            }
            .error {
                @include error-style;
            }
        }
        button {
            @include button-style;
        
            &[type="submit"] {
                width: 100%;
            
                &:hover {
                 background-color: $primary-button-hover-color;
                }
            
                &:disabled {
                 @include disabled-button;
                }
            }
        }
    }
}

