<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../global-styles.css">
    <link rel="stylesheet" href="meeting-status.css">
    <script src="https://kit.fontawesome.com/469474b632.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header"></header>
    <div class="meeting-status-container">
        <div id="current-meeting">

        </div>
        <div class="room-details">
            <h3 id="room-name"></h3>
            <div id="room-amenities">
                <!-- <i class="fa-solid fa-chair"></i>
                <i class="fa-solid fa-desktop"></i>
                <i class="fa-solid fa-chalkboard-user"></i>
                <i class="fa-solid fa-wifi"></i>                 -->
            </div>

        </div>
        <div id="upcoming-meetings">
            <h4>Todays upcoming meetings</h4>
        </div>
    </div>
   
</body>
<script type="module" src="meeting-status.js"></script>

</html>
