@import '../../styles/mixins/mixins.scss';
@import '../../styles/colors/colors.scss';
@import '../../styles/variables/variables.scss';

    .meeting-status-container{
        position: relative;
        display: flex;
        justify-content: center;
        @include border-radius;
        flex-direction: column;
        width: 100%;
        height: $max-viewport-height;
        background-color: $background-color;
        .upcoming-meetings-heading{
            padding: 10px 20px 0;
        }
        .upcoming-meetings{
            width: 100%;
            height: auto;
            padding: 10px;
            div {
                list-style: none;
                padding: 10px 20px 0;
                @include center-content;
                flex-direction: column;
                width: 100%;
                cursor: pointer;
                ul{
                    list-style: none;
                    width: 80%;
                    background-color: white;
                    border-radius: 5px;
                    padding: 5px;
                    color: $primary-color;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
                    li{
                        padding: 2px 0;
                    }
                }  
            } 
            .no-upcoming-meetings{
                padding: 20px;
            }
        }
    
        .current-meeting{
            @include center-content;
            @include border-radius;
            flex-direction: column;
            width: 100%;
            flex: 1 1 50%;
            color: white;
            gap: 10px;
            h3 {
                width: 80%;
                text-align: center;
                @include ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
           

        }
        .room-details{
            width: 100%;
            flex: 1 1 10%;
            padding: 10px 20px 0;
            h3{
                padding-bottom: 10px;
            }
            .room-amenities{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    i {
                        @include circle(45px, white);
                        @include center-content;
                        color: $primary-color;
                    }
                    p{
                        text-align: center;
                        font-size: $font-size;
                        padding-top: 5px;
                    }
                }
            
            }

        }
        .book-button {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
}

