<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="meeting-status.css">
</head>
<body>
    <div class="meeting-status-container">
        <header id="myHeader"></header>
        <div id="current-meeting">

        </div>
        <div class="room-details">

        </div>
        <div id="upcoming-meetings">
        </div>
    </div>
   
</body>
<script type="module" src="meeting-status.js"></script>

</html>
