@import '../../constants/mixins/mixins.scss';
@import '../../constants/colors/colors.scss';
body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $background-color;
    box-sizing: border-box;
    .meeting-status-container{
        position: relative;
        @include center-content;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    #upcoming-meetings{
        width: 100%;
        flex: 1 1 40%;
        div {
            list-style: none;
            padding: 0;
            @include center-content;
            flex-direction: column;
            width: 100%;
            cursor: pointer;
            ul{
                list-style: none;
                width: 80%;
                background-color: white;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 10px;
                color: $primary-color;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            }  
        } 
        #book-button {
            @include button-style;
            position: absolute; 
            bottom: 10px; 
            right: 10px; 
        }
    }
   
    #current-meeting{
        @include center-content;
        width: 100%;
        flex: 1 1 50%;
        background-color: #8d0000;
        color: white;

    }
    .room-details{
        width: 100%;
        flex: 1 1 10%;
        #room-amenities{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                @include circle(50px, white);
                i {
                    height: 100%;
                    @include center-content;
                    color: #437874;
                }
            }
          
        }

    }
}
