<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../global-styles.css">
    <link rel="stylesheet" href="meeting-status.css">
    <script src="https://kit.fontawesome.com/469474b632.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header"></header>
    <main class="meeting-status-container">
        <section id="current-meeting"></section>
        <section class="room-details">
            <h2 id="room-name"></h2>
            <div id="room-amenities"></div>
        </section>
        <section id="upcoming-meetings">
            <h3>Todays upcoming meetings</h3>
        </section>
    </main>
</body>
<script type="module" src="meeting-status.js"></script>

</html>
