<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meeting Form</title>
<link rel="stylesheet" href="schedule-meeting.css">
</head>
<body>
<div class="container">
  <h2>Meeting Form</h2>
  <form id="meetingForm">
    <div>
        <label for="meetingOwner">Meeting Owner:</label>
        <input type="text" id="meetingOwner" name="meetingOwner" required>
      </div>
    <div>
      <label for="meetingName">Meeting Name:</label>
      <input type="text" id="meetingName" name="meetingName" required>
    </div>
    <div>
      <label for="meetingDate">Date:</label>
      <input type="date" id="meetingDate" name="meetingDate" required>
    </div>
    <div>
      <label for="fromTime">From:</label>
      <input type="time" id="fromTime" name="fromTime" required>
      <label for="toTime">To:</label>
      <input type="time" id="toTime" name="toTime" required>
    </div>
    <div>
      <label for="meetingRoom">Meeting Room:</label>
      <select id="meetingRoomsDropdown" required>
      </select>
    </div>
    <div>
      <input type="checkbox" id="confidential" name="confidential">
      <label for="confidential">Confidential Meeting</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<script type="module" src="schedule-meeting.js"></script>
</body>
</html>