<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meeting Form</title>
<link rel="stylesheet" href="../../global-styles.css">
<link rel="stylesheet" href="schedule-meeting.css">
</head>
<body>
  <header id="header"></header>
<div class="schedule-meeting-container">
  <form id="meetingForm">
    <div>
        <select aria-placeholder="Select meeting room" id="meetingRoomsDropdown" required>
            <option value="" disabled selected>Select a room</option>
        </select>
    </div>
    <div>
        <input type="text" id="meetingName" name="meetingName" placeholder="Enter meeting name" required>
    </div>
    <div class="confidential-meeting">
        <input type="checkbox" id="showMeetingName" name="showMeetingName">
        <label for="showMeetingName">Show Meeting Name</label>
    </div>
    <div>
        <select aria-placeholder="Select an organizer" id="organizerDropdown" required>
            <option value="" disabled selected>Select an organizer</option>
        </select>
    </div>
    <div>
      <input type="date" id="meetingDate" name="meetingDate" required>
    </div>
    <div class="time-input">
      <label for="fromTime">Start Time</label>
      <input type="time" id="fromTime" name="fromTime" required>
      <label for="toTime">End Time</label>
      <input type="time" id="toTime" name="toTime" required>
    </div>
    <p id="error" class="error"></p>
    <button type="submit">Book Now</button>
  </form>
</div>
<script type="module" src="schedule-meeting.js"></script>
</body>
</html>