@import '../../constants/mixins/mixins.scss';
@import '../../constants/colors/colors.scss';
@import '../../constants/variables/variables.scss';
.schedule-meeting-container {
    height: $header-height;
    background-color: $background-color;
    @include border-radius;
    @include center-content;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    form {
      font-size: $font-size;
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      background-color: $form-background;
      border-radius: 5px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
      div {
        margin-bottom: 15px;
      }

      .confidential-meeting{
        display: flex;
        align-items: center;
        flex-direction: row;
        label{
            margin: 0;
            color: $primary-color;
        }
      }
  
      input[type="text"],
      input[type="date"],
      input[type="time"],
      select {
        width: 100%;
        @include form-input;
        color: $primary-color;
      }

      input::placeholder {
          color: $primary-color;
      }
    
      input[type="checkbox"] {
        margin-right: 5px;
        vertical-align: middle;
        accent-color: $primary-color;
        &:checked {
          background-color: $primary-color;
        }
      }


    .time-input{
      margin: 15px auto;
      width: 40%;
    }
    
      button[type="submit"] {
        @include button-style;
      }

      #error {
        @include error-style;
      }
    }
  }

