$background-color: #f8f1f1;

$primary-color: #3f7776;

$primary-button-color:#3f7776;
$primary-button-hover-color: #45a049;

$text-color: #ffffff;

$form-background: #fdfeff;

$box-shadow-color: #19d4ca;

$disabled-color: #ccc;
$disabled-text-color: #666;

$available-color: #008d00;
$busy-color: #8d0000;

$error-color: #ff0000;
